/* Write your CSS here */
/* Write your CSS here */
.footer-container {
  height: 50px;
  background-color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-heading {
  color: #475569;
  font-size: 30px;
  font-family: 'Roboto';
  padding: 10px;
}
